/* CSS Document */

  body{
    background-color: #E7EDEB;
    width: 100%;
    color: #69A481;
    text-align: center;
    display: flex;
    flex-direction: column; /* Side-by-side layout */
    position: relative;
}
aside{
  text-align: left !important;
  list-style: none;
  display: flex;
  flex-direction: column;
  background-color: #988598;
  color: #7C1F31;
  width: 200px;
  height: 100vh;
  position: fixed;
  padding-top: 40px;
  
}
.menuB{
  height: 50px;
  width: 50px;
  align-items: flex-start;
  display: flex;
  padding: 0;
  border: 0;
}

button{
  color: #69A481;
}

.Page3{
  background-image: url("Blended_Expsoure_final.jpg");
  background-position: center;
  background-size: cover;
}
.content-wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 170px;
  flex: 1;
}
main{
  margin-left: 200px; 
  padding: 20px;
  flex-grow: 1; 
  max-width: auto;
}

.side_nav{
  display: flex;
  flex-direction: column;
  
}
.side_nav li{
  margin-bottom: 10px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color: #69A481;
    padding: 40px 40px 20px 40px;
    color: #E7EDEB;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
  }
  nav{
    width: auto;
    align-content: center;
  }
  nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  nav li {
  margin-right: 30px;
  }

  footer{
    background-color: #7C1F31;
    color: #E7EDEB;
    padding: 20px;
    text-align: center;
    width: 100%;
    margin-top: auto;
  }
  form {
    text-align: center;
    max-width: 500px;
    margin: 0 auto;
  }
  .THeader, .F1T {
    background-color: #7C1F31;
    margin: 0px;
    width: auto;
    text-align: center !important;
  }